.grid {
  display: grid;
  margin: auto;
  grid-template: 10fr / 1fr;
}

.header{

}

.clickMonkey{
  color: #2A7588;
  font-size: 15px;
}

.projects{
  color: #1D4E5A;
  font-style: Nobel;
}



body {
  background: white;
  margin-left: 10px;
  margin-right: 10px;

}

.margaMartinez{
  color: #2A7588;
  font-family: Nobel;
  font-weight: bold;
}

.MargaCode {
  width: 100%;
  display:block:
}

.LawsSoftwareDevelopment {
  width: 100%;
}

.occamSRazor{
    color: #2A7588;
    font-size: 30px;
    font-family: Nobel;
    position: absolute;
    z-index:1;
    width: 97%;
    text-align: center;


}
