img {
    width: 100%;
}


body {
  font-family: Interstate, sans-serif;
  background-color: rgb(233, 230, 226);
}

.marga-logo {
  width: 50%;
  padding-top: 7%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 25%;
}

.project-info {
  padding-left: 4%;
  padding-right: 4%;
}


a {
  text-decoration: none;
  color: #F83F54;
  cursor: pointer;
}

a:hover {
  color: #6CAEBB;
}


h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
}


p {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  padding-bottom: 5%;
  width: 90%;


}


.marga-code {
  padding-top: 5%;
}

/*.programming-laws {
  z-index: 2;
  position: relative;
  width: 90%;
  height: auto;
}
.laws-opacity {
  z-index: 1;
  position: absolute;
  top: 419px;
  left: 41px;
  width: 90%;
  height: auto;
}
.programming-laws:hover {
  opacity: 0;*/

.list-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project {
  width: 90%;
  height: auto;
  text-align: left;
}

.project img {
  width: 95%;
  /*border-radius: 10%;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition:all 0.5s ease;
}

.project img:hover {
  transform:translateY(-20px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 38rem) {
  h2 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 50rem) {
  .project {
    width: 40%;
    height: auto;
    padding-bottom: 4%;
  }

  .project img {
    width: 90%;
    /*border-radius: 10%;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0;
  }

}

@media screen and (min-width: 62.5rem) {
  .project {
    width: 30%;
    height: auto;
    text-align: left;
  }

  .project img {
    width: 90%;
    /*border-radius: 10%;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

}
